// ------------------------------------- //
// Style of Layouts
// ------------------------------------- //

html,
body {
    font-size: $root-font-size;
    font-family: $font-family;
    color: $dark-blue;
}
