// ------------------------------------- //
// Style of Index
// ------------------------------------- //

$module: "index";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }

    &__introduction {
        margin-top: -198px;
    }

    &__speakers {
        padding-top: 86px;
    }

    @media (max-width: 414px) {
        &__speakers {
            padding-top: 43px;
        }
    }
}
