// ------------------------------------- //
// Style of Index
// ------------------------------------- //

$module: "index";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }

    &__hero {
        padding-bottom: 330px;
        .countdown {
            margin: 0 auto;
        }
    }

    &__poster {
        position: relative;
        max-width: 687px;
        margin: 110px auto 0;
        padding: 0 20px;
        img {
            width: 100%;
        }
        img:last-child {
            position: absolute;
            max-width: 42px;
            left: -60px;
            top: 13.910355%;
            transform: translate3d(0,0);
            animation: move 3s ease infinite alternate;
        }
    }

    &__introduction .placard__card {
        position: absolute;
        transform: translateY(-50%);
    }

    &__speakers {
        background: $bg-gray;
        padding-top: 344px;
    }

    &__schedule {
        padding-bottom: 280px;
        .section__title {
            color: $white;
        }
    }

    &__background {
        img:first-child {
            position: absolute;
            max-width: 204px;
            right: 58px;
            bottom: 180px;
        }
        img:last-child {
            position: absolute;
            right: 0;
            bottom: 700px;
            width: 49px;
            transform: translate3d(0,0);
            animation: move 3s ease infinite alternate;
        }
    }

    &__location {
        line-height: 1;
        p {line-height: 1}
        .placard__inner {z-index: 2}
        .placard__card {
            position: absolute;
            width: 680px;
            transform: translateY(-40%);
            right: 0;
        }
    }

    &__sponsors {
        background: $bg-gray;
    }

    &__sponsor-contact {
        color: $gray-light;
        padding: 0 20px;
        text-align: center;
        br {
            display: none;
        }
    }

    &__footer {
        padding: 60px 0 40px;
        text-align: center;
        img {
            max-width: 226px;
        }
    }

    @include tablet-basic {
        &__hero,
        &__schedule {
            padding-bottom: 140px;
        }
        &__speakers {
            padding-top: 140px;
        }
        &__introduction .placard__card,
        &__location .placard__card {
            position: static;
            width: 100%;
            transform: translateY(0);
        }
        &__background img:first-child,
        &__background img:last-child {
            right: 20px;
        }
    }

    &__participate-link {
        margin: 40px auto;
        text-align: center;
        line-height: 1.25;
        &--top {
            margin: 60px auto 40px;
            .button {
                color: $dark-blue;
            }
        }
        span:first-child {
            font-size: 17.3px;
        }
    }

    @include tablet-small {
        &__poster img:last-child {
            left: 20px;
        }
    }

    @include mobile-basic {
        &__hero,
        &__schedule {
            padding-bottom: 70px;
        }
        &__speakers {
            padding-top: 70px;
        }
        &__poster {
            margin-top: 55px;
            img:last-child {
                width: 32px;
            }
        }
        &__background {
            img.first-child {
                right: 20px;
            }
            img:last-child {
                width: 39px;
            }
        }
        &__sponsor-contact br {
            display: inline;
        }
        &__footer {
            padding: 50px 0 30px;
            img {
                max-width: 196px;
            }
        }
    }

    @include mobile-small {
        &__poster img:last-child {
            width: 22px;
        }
        &__footer {
            padding: 40px 0 20px;
            img {
                max-width: 176px;
            }
        }
    }
}

@keyframes move {
    from {transform: translateY(30px)}
    to {transform: translateY(0)}
}
