// ------------------------------------- //
// Style of Index
// ------------------------------------- //

$module: "index";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }

    &__introduction {
        margin-top: -198px;
        padding: 0;
    }

    &__schedule .section__body {
        padding-top: 28px;
    }
}
