// ------------------------------------- //
// Style of Index
// ------------------------------------- //

$module: "index";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }

    &__introduction .card-section__card {
        position: absolute;
        top: -198px;
    }

    &__speakers {
        background: $bg-gray;
        padding-top: 338px;
    }

    &__schedule {
        padding-bottom: 240px;
    }

    &__schedule .section__body {
        padding-top: 28px;
    }

    &__schedule-image {
        position: absolute;
        right: 55px;
        bottom: 160px;
        max-width: 208px;
        width: 100%;
        &--astronaut {
            max-width: 49px;
            width: 100%;
            right: 0;
            bottom: 600px;
            transform: translate3d(0,0);
            animation: move 3s ease infinite alternate;
        }
    }

    &__location .card-section__card {
        position: absolute;
        width: 680px;
        top: -136px;
        right: 0;
        z-index: 2;
    }

    &__location-name {
        display: block;
        font-size: 47px;
        font-weight: bold;
    }

    &__location-area {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: $light-blue;
    }

    &__location-address {
        margin-top: 28px;
        display: block;
    }

    &__maps {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    @media (max-width: 679px) {
        &__schedule {
            padding-bottom: 30px;
        }
    }

    @media (max-width: 690px) {
        &__location-name {
            font-size: 40px;
        }
    }

    @media (max-width: 1024px) {
        &__introduction .card-section__card {
            position: static;
        }
        &__speakers {
            padding-top: 140px;
        }
        &__location .card-section__card {
            position: static;
            width: 100%;
        }
        &__schedule-image {
            &--astronaut {
                right: 20px;
            }
        }
    }
}
