// ------------------------------------- //
// Style of Banners
// ------------------------------------- //

$module: "banners";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }

    &__list {
        padding: 0 20px;
        margin: 0;
        list-style: none;
        font-size: 0;
        text-align: center;
    }

    &__item {
        max-width: 210px;
        display: inline-block;
        vertical-align: middle;
        padding: 20px;
        img {
            width: 100%;
        }
    }

    @include mobile-basic {
        &__item {
            display: block;
            margin: 0 auto;
        }
    }
}
