// ------------------------------------- //
// Style of CardSection
// ------------------------------------- //

$module: "card-section";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__card {
        display: flex;
        background: $white;
        box-shadow: 14px 14px 57px rgba(0, 0, 0, .15);
    }

    &__cover {
        position: relative;
        flex: 1;
        padding: 56px;
    }

    &__title {
        padding-top: 40px;
        margin: 0;
        text-align: right;
        font-size: 47px;
        line-height: 1.2;
        word-wrap: break-word;
        word-break: keep-all;
    }

    &__sub-title {
        position: absolute;
        top: 56px;
        right: 56px;
        margin: 0;
        font-family: 'Cloudy';
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 1;
        color: $orange;
    }

    &__body {
        flex: 2;
        padding: 100px 56px 56px 0;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        text-align: left;
    }

    @media (max-width: 690px) {
        &__title {
            font-size: 40px;
        }
    }

    @media (max-width: 568px) {
        &__card {
            display: block;
        }
        &__cover {
            padding: 40px;
        }
        &__sub-title {
            top: 40px;
            right: 40px;
        }
        &__body {
            padding: 0 40px 40px;
        }
    }
}
