// ------------------------------------- //
// Style of Countdown
// ------------------------------------- //

$module: "countdown";

.#{$module} {
    width: 100%;
    max-width: 566px;
    padding: 0 20px;

    &__inner {
        position: relative;
        font-size: 0;
        display: flex;
    }

    &__hand {
        flex: 1;
    }

    &__divider {
        position: relative;
        flex: .28;
        margin-top: 30px;
        &:before,
        &:after {
            position: absolute;
            width: 4px;
            height: 8px;
            background: $sea-green;
            top: calc(40% - 4px);
            left: calc(50% - 1px);
            content: " ";
        }
        &:after {
            top: calc(60% - 4px);
        }
    }

    &__lamp {
        margin-bottom: 12px;
        text-align: right;
        letter-spacing: 1px;
        font-family: 'Cloudy';
        color: $white;
        font-size: 18px;
        line-height: 1;
    }

    &__time {
        width: 100%;
    }

    &__count {
        display: inline-block;
        position: relative;
        width: calc(50% - 1.353637%);
        padding-bottom: 71.153846%;
        background: $white;
        text-align: center;
        border-radius: 5px;
        font-size: 68px;
        line-height: 1;
        font-weight: 900;
        &:before {
            position: absolute;
            width: 100%;
            height: 1px;
            top: 50%;
            left: 0;
            background: #a7a7a7;
            content: ' ';
        }
        &:first-child {
            margin-right: 2.707275%;
        }
        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 460px) {
        &__count {font-size: 58px}
    }

    @media (max-width: 380px) {
        &__count {font-size: 48px}
        &__lamp {font-size: 16px}
    }

    @media (max-width: 320px) {
        &__count {font-size: 38px}
        &__lamp {font-size: 14px}
    }
}
