// ------------------------------------- //
// Style of Hero
// ------------------------------------- //

$module: "hero";

.#{$module} {
    width: 100%;
    padding-bottom: 378px;
    background: -moz-linear-gradient(top, rgba(24,23,67,1) 0%, rgba(32,41,93,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(24,23,67,1) 0%,rgba(32,41,93,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(24,23,67,1) 0%,rgba(32,41,93,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &__inner {
        position: relative;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
    }

    &__countdown {
        padding-top: 126px;
        .countdown {
            margin: 0 auto;
        }
    }

    &__background {
        width: 100%;
        max-width: 667px;
        margin: 118px auto 0;
        padding: 0 20px;
    }

    &__image {
        width: 100%;
        max-width: 667px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 83.891547%;
        background: url('../static/img/bg-hero.png');
        background-size: 100% 100%;
    }

    &__astronaut {
        position: absolute;
        width: 42px;
        height: 69px;
        background: url('../static/img/img-astronaut.png') no-repeat;
        background-size: 100% auto;
        top: 450px;
        left: 30px;
        transform: translate3d(0,0);
        animation: move 3s ease infinite alternate;
    }

    @media (max-width: 647px) {
        &__astronaut {
            left: 20px;
        }
    }

    @media (max-width: 414px) {
        &__countdown {
            padding-top: 86px;
        }
        &__background {
            margin-top: 90px;
        }
        &__astronaut {
            width: 32px;
            top: 320px;
        }
    }

    @media (max-width: 320px) {
        padding-bottom: 320px;
        &__countdown {
            padding-top: 66px;
        }
        &__background {
            margin-top: 68px;
        }
        &__astronaut {
            width: 22px;
            top: 240px;
        }
    }
}

@keyframes move {
    from {transform: translateY(30px)}
    to {transform: translateY(0)}
}