// ------------------------------------- //
// Style of Hero
// ------------------------------------- //

$module: "hero";

.#{$module} {
    width: 100%;
    padding-bottom: 378px;

    &__inner {
        position: relative;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
    }

    &__countdown {
        padding-top: 140px;
        .countdown {
            margin: 0 auto;
        }
    }

    &__background {
        width: 100%;
        max-width: 667px;
        margin: 140px auto 0;
        padding: 0 20px;
    }

    &__image {
        width: 100%;
        max-width: 667px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 83.891547%;
        background: url('../static/img/img-hero.png');
        background-size: 100% 100%;
    }

    &__astronaut {
        position: absolute;
        width: 42px;
        height: 69px;
        background: url('../static/img/img-astronaut.png') no-repeat;
        background-size: 100% auto;
        top: 520px;
        left: 30px;
        transform: translate3d(0,0);
        animation: move 3s ease infinite alternate;
    }

    @media (max-width: 647px) {
        &__astronaut {
            left: 20px;
        }
    }

    @media (max-width: 414px) {
        &__countdown {
            padding-top: 70px;
        }
        &__background {
            margin-top: 70px;
        }
        &__astronaut {
            width: 32px;
            top: 300px;
        }
    }

    @media (max-width: 320px) {
        padding-bottom: 320px;
        &__astronaut {
            width: 22px;
            top: 250px;
        }
    }
}

@keyframes move {
    from {transform: translateY(30px)}
    to {transform: translateY(0)}
}