// ------------------------------------- //
// Style of Main
// ------------------------------------- //

$module: 'main';

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
    }
    
    &__title {
        text-align: center;
        padding: 7% 15% 0;
        font-size: 3rem;
    }

    @include mobile {
        &__title {
            padding: 14% 10% 0;
        }
    }
}
