// ------------------------------------- //
// Style of Schedule
// ------------------------------------- //

$module: "schedule";

.#{$module} {
    color: $white;
    font-weight: 300;
    text-align: center;

    &__inner {
        position: relative;
        display: inline-block;
        max-width: 520px;
        width: auto;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;
    }

    &__item:last-child &__information:before {
        display: none;
    }

    &__information {
        position: relative;
        padding-left: 138px;
        padding-bottom: 60px;
        text-align: left;
        &:before {
            position: absolute;
            width: 2px;
            top: 0;
            left: 90px;
            bottom: 0;
            content: ' ';
            background: #96a2de;
        }
    }

    &__ico {
        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 82px;
            width: 18px;
            height: 18px;
            content: ' ';
            background: $white;
            border-radius: 50%;
            opacity: 1;
        }
        &:after {
            top: 4px;
            left: 86px;
            width: 10px;
            height: 10px;
            opacity: 0;
        }
        &--double-circle {
            &:before {
                opacity: .3;
            }
            &:after {
                opacity: 1;
            }
        }
    }

    &__title {
        margin: 0;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 1.2;
    }

    &__meta {
        font-size: 17px;
        margin: 16px 0 0;
        color: #96a2de;
        line-height: 1;
        padding-left: 20px;

        span{
            position: relative;
            padding-right: 18px;
            a {
                color: #96a2de;
            }
        }
        span:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 18px;
            text-align: center;
            line-height: 1.6;
            content: '·';
        }
        span:last-child:after {
            content: '';
        }
    }

    &__time {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        text-align: right;
        line-height: 1.2;
        color: #96a2de;
    }

    &__start-time,
    &__end-time {
        display: block;
        min-width: 52px;
    }

    @include mobile-basic {
        padding: 0 20px;
        &__time {font-size: 16px}
        &__title {font-size: 17px}
        &__location {
            padding-left: 0;
            font-size: 15px;
        }
    }
}
