// ------------------------------------- //
// Style of Section
// ------------------------------------- //

$module: "section";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
    }

    &__cover {
        text-align: center;
        margin-bottom: 72px;
    }

    &__cover--basic {
        .#{$module}__sub-title {
            position: absolute;
            font-size: 18px;
            font-family: 'Cloudy';
            letter-spacing: 3px;
            color: $orange;
            margin: 0;
            line-height: 1;
            top: 0;
            left: 0;
            width: 100%;
        }

        .#{$module}__title {
            font-size: 40px;
            padding-top: 36px;
            margin: 0;
            line-height: 1;
        }
    }

    &__cover--card {
        background: $white;
        box-shadow: 14px 14px 57px rgba(0, 0, 0, .15);
        position: relative;
        display: flex;

        .#{$module}__cover-header {
            position: relative;
            flex: 1;
            padding: 56px;
        }

        .#{$module}__title {
            padding-top: 40px;
            margin: 0;
            text-align: right;
            font-size: 47px;
            line-height: 1.2;
            word-wrap: break-word;
            word-break: keep-all;
        }

        .#{$module}__sub-title {
            position: absolute;
            top: 56px;
            right: 56px;
            margin: 0;
            font-family: 'Cloudy';
            font-size: 17px;
            letter-spacing: 3px;
            line-height: 1;
            color: $orange;
        }

        .#{$module}__cover-body {
            flex: 2;
            padding: 100px 56px 56px 0;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            text-align: left;
        }
    }

    @media (max-width: 690px) {
        &__cover--card &__title {
            font-size: 40px;
        }
    }

    @media (max-width: 568px) {
        &__cover--card {
            display: block;

            .#{$module}__cover-header {
                padding: 40px;
            }

            .#{$module}__sub-title {
                top: 40px;
                right: 40px;
            }

            .#{$module}__cover-body {
                padding: 0 40px 40px;
            }
        }
    }
}
