// ------------------------------------- //
// Style of Section
// ------------------------------------- //

$module: "section";

.#{$module} {
    width: 100%;
    padding: 140px 0;

    &__inner {
        position: relative;
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
    }

    &__header {
        text-align: center;
    }

    &__title {
        font-size: 40px;
        padding-top: 36px;
        margin: 0;
        line-height: 1;
    }

    &__sub-title {
        position: absolute;
        font-size: 18px;
        font-family: 'Cloudy';
        letter-spacing: 3px;
        color: $orange;
        margin: 0;
        line-height: 1;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__body {
        margin-top: 72px;
    }

    @media (max-width: 414px) {
        padding: 70px 0;
        &__sub-title {
            font-size: 16px;
        }
        &__title {
            font-size: 34px;
            padding-top: 30px;
        }
        &__body {
            margin-top: 36px;
        }
    }
}
