// ------------------------------------- //
// Style of SpeakerCard
// ------------------------------------- //

$module: "speaker-card";

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
        background: $white;
        margin-top: 32px;
        padding: 38px;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 14px 14px 32px rgba(0, 0, 0, .05);
            content: ' ';
            z-index: -1;
        }
    }

    &__avatar {
        position: absolute;
        left: 30px;
        top: -32px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $white;
    }

    &__photo {
        width: 100%;
        height: 100%;
    }

    &__name {
        line-height: 1;
        margin: 46px 0 0;
        padding: 0;
        font-size: 19px;
    }

    &__company {
        font-size: 13px;
        line-height: 1;
        margin: 14px 0 0;
        font-weight: 300;
        a {
            color: $light-blue;
        }
    }

    &__greeting {
        font-size: 15px;
        margin: 34px 0 0;
        line-height: 1.7;
        font-weight: 300;
        word-break: break-all;
    }
}
